xsd/brsv-person-v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xsd:schema xmlns="folkeregisteret:tilgjengeliggjoering:brsv:person:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="folkeregisteret:tilgjengeliggjoering:brsv:person:v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:annotation>
      <xsd:documentation>
        <xsd:attribute fixed="2020-08-14T09:57:17.314+0200" name="generertDato" />
        <xsd:attribute fixed="1.0" name="versjon" />
        <xsd:attribute fixed="" name="beskrivelse" />
        <xsd:attribute fixed="Tjenestemodell for Befolkningsregisteret for Svalbard" name="modellnavn" />
        <xsd:attribute fixed="folkeregisteret:tilgjengeliggjoering:brsv:person:v1" name="navnerom" />
        <xsd:attribute fixed="false" name="begrepsreferanse" />
        <xsd:attribute fixed="true" name="dokumentasjon" />
        <xsd:attribute fixed="false" name="nillable" />
        <xsd:attribute fixed="false" name="modellelement" />
      </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="folkeregisterperson" type="Folkeregisterperson" />
    <xsd:complexType name="Folkeregisterperson">
      <xsd:sequence>
        <xsd:element name="identifikasjonsnummer" type="Folkeregisteridentifikator" />
        <xsd:element name="oppholdPaaSvalbard" type="OppholdPaaSvalbard" maxOccurs="unbounded" />
        <xsd:element name="oppholdsadresse" type="Oppholdsadresse" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="navn" type="Folkeregisterpersonnavn" />
        <xsd:element name="sivilstand" type="Sivilstand" />
        <xsd:element name="foedsel" type="Foedsel" />
        <xsd:element name="kjoenn" type="Personkjoenn" />
        <xsd:element name="statsborgerskap" type="Statsborgerskap" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Folkeregisteridentifikator">
      <xsd:sequence>
        <xsd:element name="foedselsEllerDNummer" type="Foedselsnummer" />
        <xsd:element name="identifikatortype" type="Folkeregisteridentifikatortype" />
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Folkeregisterpersonnavn">
      <xsd:sequence>
        <xsd:element name="fornavn" type="Tekst">
          <xsd:annotation>
            <xsd:documentation>fornavn på person</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="mellomnavn" type="Tekst" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>mellomnavn på person</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="etternavn" type="Tekst">
          <xsd:annotation>
            <xsd:documentation>etternavn på person</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Foedsel">
      <xsd:sequence>
        <xsd:element name="foedselsdato" type="Dato" minOccurs="0" />
        <xsd:element name="foedselsaar" type="Aarstall" />
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OppholdPaaSvalbard">
      <xsd:complexContent>
        <xsd:extension base="Registermetadata">
          <xsd:sequence>
            <xsd:element name="startdato" type="Dato" />
            <xsd:element name="sluttdato" type="Dato" minOccurs="0" />
            <xsd:element name="fraflyttingskommunenummer" type="Kommunenummer" minOccurs="0" />
            <xsd:element name="fraflyttingsland" type="LandkodeIsoAlfa3" minOccurs="0" />
            <xsd:element name="antallTidligereOpphold" type="Heltall" />
            <xsd:element name="antattOppholdsvarighet" type="OppholdsvarighetType" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Oppholdsadresse">
      <xsd:complexContent>
        <xsd:extension base="Registermetadata">
          <xsd:sequence>
            <xsd:choice>
              <xsd:element name="vegadresse" type="Vegadresse" />
              <xsd:element name="adressenErUkjent" type="Boolsk" />
              <xsd:element name="matrikkeladresse" type="Matrikkeladresse" />
            </xsd:choice>
            <xsd:element name="adresseIdentifikatorFraMatrikkelen" type="Identifikator" minOccurs="0" />
            <xsd:element name="adressegradering" type="Adressegradering" />
            <xsd:element name="oppholdsadressedato" type="Dato" minOccurs="0" />
            <xsd:element name="oppholdAnnetSted" type="OppholdAnnetSted" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Personkjoenn">
      <xsd:sequence>
        <xsd:element name="kjoenn" type="Kjoenn" />
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Registermetadata">
      <xsd:sequence>
        <xsd:element name="ajourholdstidspunkt" type="DatoKlokkeslett" minOccurs="0" />
        <xsd:element name="erGjeldende" type="Boolsk" minOccurs="0" />
        <xsd:element name="gyldighetstidspunkt" type="DatoKlokkeslett" minOccurs="0" />
        <xsd:element name="opphoerstidspunkt" type="DatoKlokkeslett" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Sivilstand">
      <xsd:sequence>
        <xsd:element name="sivilstand" type="Sivilstandstype" />
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Statsborgerskap">
      <xsd:sequence>
        <xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" />
      </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="OppholdAnnetSted">
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="paaSvalbard" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Tekst">
      <xsd:annotation>
        <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4000" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Foedselsnummer">
      <xsd:annotation>
        <xsd:documentation>ellevesifret identifikasjonsnummer for personer bosatt i Norge, der de seks første sifrene angir fødselsdato og de fem siste
        personnummer.
      </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="Tekst">
        <xsd:length value="11" />
        <xsd:pattern value="[0-9]+" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Folkeregisteridentifikatortype">
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="foedselsnummer" />
        <xsd:enumeration value="dNummer" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Dato">
      <xsd:annotation>
        <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data
        elements and interchange formats -- Information interchange -- Representation of dates and times).
        Eksempel : 1998-12-21 eller 19981221.
      </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:date" />
    </xsd:simpleType>
    <xsd:simpleType name="Aarstall">
      <xsd:annotation>
        <xsd:documentation>årstall er et tall som angir årets nummer i tidsregningen i den gregorianske kalender</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:gYear" />
    </xsd:simpleType>
    <xsd:simpleType name="Kommunenummer">
      <xsd:annotation>
        <xsd:documentation>nummer for kommune</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="Tekst">
        <xsd:length value="4" />
        <xsd:pattern value="([0-9]){4}" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LandkodeIsoAlfa3">
      <xsd:restriction base="Tekst">
        <xsd:length value="3" />
        <xsd:pattern value="([A-Z]){3}" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Heltall">
      <xsd:annotation>
        <xsd:documentation>hele tall, dvs. hele tall i mengden {..., -2, -1, 0, 1, 2, ...}</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:long" />
    </xsd:simpleType>
    <xsd:simpleType name="OppholdsvarighetType">
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="underSeksMaaneder" />
        <xsd:enumeration value="overSeksMaaneder" />
        <xsd:enumeration value="overTolvMaaneder" />
        <xsd:enumeration value="ukjent" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Vegadresse">
      <xsd:annotation>
        <xsd:documentation>adresse i form av gatenavn, husnummer og eventuell husbokstav</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element name="kommunenummer" type="Kommunenummer">
          <xsd:annotation>
            <xsd:documentation>nummer for kommune</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="bruksenhetsnummer" type="Tekst" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller
            bygningsdel
          </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="bruksenhetstype" type="Bruksenhetstype" minOccurs="0" />
        <xsd:element name="adressenavn" type="Tekst">
          <xsd:annotation>
            <xsd:documentation>navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen;</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="adressenummer" type="Adressenummer" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger
            innenfor en adresserbar gate, veg, sti, plass eller område
          </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="adressekode" type="Tekst" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen
          </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="adressetilleggsnavn" type="Tekst" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen
          </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="poststed" type="Poststed" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="coAdressenavn" type="Tekst" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>addresse som er indirekte</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Boolsk">
      <xsd:annotation>
        <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:boolean" />
    </xsd:simpleType>
    <xsd:complexType name="Matrikkeladresse">
      <xsd:annotation>
        <xsd:documentation>adresse i form av et gårds- og bruksnummer og et eventuelt festenummer, eventuelt også et undernummer</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element name="bruksenhetsnummer" type="Tekst" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller
            bygningsdel
          </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="bruksenhetstype" type="Bruksenhetstype" minOccurs="0" />
        <xsd:element name="matrikkelnummer" type="Matrikkelnummer">
          <xsd:annotation>
            <xsd:documentation>offisiell benevnelse for hver enkel matrikkelenhet</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="undernummer" type="Heltall" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>brukes ved matrikkeladresser når en grunneiendom må tilknyttes flere ulike adresser</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="adressetilleggsnavn" type="Tekst" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen
          </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="poststed" type="Poststed" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="coAdressenavn" type="Tekst" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>addresse som er indirekte</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Identifikator">
      <xsd:restriction base="Tekst" />
    </xsd:simpleType>
    <xsd:simpleType name="Adressegradering">
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ugradert" />
        <xsd:enumeration value="klientadresse" />
        <xsd:enumeration value="fortrolig" />
        <xsd:enumeration value="strengtFortrolig" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Kjoenn">
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="kvinne" />
        <xsd:enumeration value="mann" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DatoKlokkeslett">
      <xsd:annotation>
        <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO
        8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).
      </xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:dateTime" />
    </xsd:simpleType>
    <xsd:simpleType name="Sivilstandstype">
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="uoppgitt" />
        <xsd:enumeration value="ugift" />
        <xsd:enumeration value="gift" />
        <xsd:enumeration value="enkeEllerEnkemann" />
        <xsd:enumeration value="skilt" />
        <xsd:enumeration value="separert" />
        <xsd:enumeration value="registrertPartner" />
        <xsd:enumeration value="separertPartner" />
        <xsd:enumeration value="skiltPartner" />
        <xsd:enumeration value="gjenlevendePartner" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Bruksenhetstype">
      <xsd:restriction base="xsd:string">
        <xsd:enumeration value="bolig" />
        <xsd:enumeration value="annetEnnBolig" />
        <xsd:enumeration value="fritidsbolig" />
        <xsd:enumeration value="ikkeGodkjentBolig" />
        <xsd:enumeration value="unummerertBruksenhet" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Adressenummer">
      <xsd:annotation>
        <xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger
        innenfor en adresserbar gate, veg, sti, plass eller område
      </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element name="husnummer" type="Husnummer">
          <xsd:annotation>
            <xsd:documentation>nummer som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar
            gate, veg, sti, plass eller område
          </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="husbokstav" type="Husbokstav" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>bokstav som sammen med husnummer entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger
            innenfor en adresserbar gate, veg, sti, plass eller område
          </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Poststed">
      <xsd:annotation>
        <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element name="poststedsnavn" type="Tekst" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>navn på et poststed</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="postnummer" type="Postnummer" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>nummer på et poststed</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Matrikkelnummer">
      <xsd:annotation>
        <xsd:documentation>offisiell benevnelse for hver enkel matrikkelenhet</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element name="kommunenummer" type="Kommunenummer">
          <xsd:annotation>
            <xsd:documentation>nummer for kommune</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="gaardsnummer" type="Heltall">
          <xsd:annotation>
            <xsd:documentation>nummer for gård</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="bruksnummer" type="Heltall">
          <xsd:annotation>
            <xsd:documentation>fortløpende nummerering innenfor gårdsnummeret</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="festenummer" type="Heltall" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>tas i bruk når et bruksnummer skal deles opp i flere grunneiendommer</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Husnummer">
      <xsd:restriction base="Tekst">
        <xsd:maxLength value="4" />
        <xsd:pattern value="[0-9]+" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Husbokstav">
      <xsd:restriction base="Tekst">
        <xsd:length value="1" />
        <xsd:pattern value="[A-Za-zæøåÆØÅ]" />
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Postnummer">
      <xsd:annotation>
        <xsd:documentation>nummer på et poststed</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="Tekst">
        <xsd:length value="4" />
        <xsd:pattern value="([0-9]){4}" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:schema>